{% extends "base.html" %}

{% block title %}
CUNom - Free Food
{% endblock %}

{% block body %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">CUNom</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="{{ 'active' if request.path == '/' }}"><a href="/">Home</a></li>
          <li class="{{ 'active' if request.path == '/food' }}"><a href="/food">Food</a></li>
        </ul>
        <ul class="nav pull-right">
            {%if session['username'] %}
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{session['username']}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/preferences"><i class="icon-cog"></i> Preferences</a></li>
                    <li><a href="/dashboard"><i class="icon-envelope"></i> Dashboard</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="icon-off"></i> Logout</a></li>
                </ul>
            </li>
            {% else %}
            <li>
                <a role="button" data-toggle="modal" href="#signupModal">Sign Up</a>
                <div id="signupModal" class="modal hide fade" tabindex="-1">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">x</button>
                        <h3>Sign up to save preferences and subscribe to new free food events!</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row-fluid">
                            <div class="span12">
                            <div class="span6">
                                <div class="logowrapper">
                                    <img class="logoicon" src="/static/images/nom.png" alt="nom"/>
                                </div>
                            </div>
                            <div class="span6">
                            <form class="form-horizontal" action="/signup" method="post">
                            <p class="help-block">Username</p>
                            <div class="input-prepend">
                            <span class="add-on">*</span><input class="prependedInput" size="16" type="text" name="username">
                            </div>
                            <p class="help-block">Email</p>
                            <div class="input-prepend">
                            <span class="add-on">*</span><input class="prependedInput" size="16" type="email" name="email">
                            </div>
                            <p class="help-block">Password</p>
                            <div class="input-prepend">
                                <span class="add-on">*</span><input class="prependedInput" size="16" type="password" name="password">
                            </div>
                            <hr>
                            <div class="help-block">
                            <button type="submit" class="btn btn-large btn-info">Sign Up</button>
                            </div>
                            </form>
                            </div>
                            </div>
                            </div>
                            </div>
                        <div class="modal-footer">
                            <p><i>Don't want to create an account? Just search for Free Food then!</i></p>
                        </div>
                        </div>
                    </li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <b class="caret"></b></a>
                  <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                      <form method="post" action="/login" accept-charset="UTF-8">
                          <input style="margin-bottom: 15px;" type="text" placeholder="Username" id="username" name="username">
                          <input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password">
                          <input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
                          <label class="string optional" for="user_remember_me"> Remember me</label>
                          <input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In">
                      </form>
                  </div>
            </li>
            {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<div class="container">

    <form method = "post" action = "/food">
      <label class="query" for="query_term">
        <img alt="Icon-search" height="14" src="http://assets2.grouponcdn.com/images/icons/icon-search.png?RnKF9uZ7" width="14">
      </label>
        <input name="query_term" type="text" class="input-just search-query" placeholder="Search for Term">
        <input name="query_tag" type="text" class="input-just search-query" placeholder="with Tag">
        <input name="query_location" type="text" class="input-just search-query" placeholder="Location">
        <input name="query_date" type="text" class="input-just search-query" placeholder="In format DD-MMM-YY">

        <label for="sort_select">Sort by:</label>
        <select name="sort_select" style="width:150px">
            <option>Date</option>
            <option>Name</option>
            <option>Location</option>
        </select>
      <button type="submit" class="btn">Search</button>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Date</th>
          <th>Tags</th>
          <th>Location</th>
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody>
        {% if events %}
          {% for event in events %}
            <tr>
              {% for attr in event %}
                <td>{{attr}}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>

  <hr>
	<footer>
	  <p>Developed with Love by @don4yu (Don Yu) & @mpetitchou (Sophie Chou)</p>
	</footer>
</div>
{% endblock %}