{% extends "base.html" %}

{% block title %}
CUNom - Free Food
{% endblock %}

{% block body %}
<br/>
<br/>
<br/>
<div class="container">

    <form method = "post" action = "/food">
      <label class="query" for="query_term">
      </label>
        <input name="query_term" type="text" class="input-just search-query" placeholder="Search for Term">
        <input name="query_tag" type="text" class="input-just search-query" placeholder="with Tag">
        <input name="query_location" type="text" class="input-just search-query" placeholder="Location">
        <input name="query_date" type="text" class="input-just search-query" placeholder="In format DD-MMM-YY">

      <button type="submit" class="btn">Search</button>
    </form>

  {% if events %}
    {% for event in events %}
      <div class="row">
        <div class="span8">
          <div class="row">
            <div class="span8">
              <h4><strong>{{ event[0] }}</strong></h4>
            </div>
          </div>
          <div class="row">
            <div class="span2">
              <a href="#" class="thumbnail">
                  <img src="static/images/Cute_Cookie.jpg " alt="">
              </a>
            </div>
            <div class="span6">      
              <p>
                {{event[1]}}
              </p>
              <p><a class="btn" href="{{url_for('add_favorite', e_id = event[4])}}">Favorite</a></p>
              <p><a class="btn" href="{{url_for('add_epref', e_id = event[4])}}">Prefer Event +</a></p>
              <p><a class="btn" href="{{url_for('add_lpref', l_id = event[5])}}">Prefer Location +</a></p>
            </div>
          </div>
          <div class="row">
            <div class="span8">
              <p></p>
              <p>
                <i class="icon-calendar"></i> {{event[2]}}
                | <i class="icon-share"></i> {{event[3]}}
                | <i class="icon-tags"></i> Tags : 
                {% if event[6] %}
                  {% for tag in event[6] %}
                    <span class="label label-info">{{tag[0]}}</span>
                  {% endfor %}
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  <hr>
	<footer>
	  <p>Developed with Love by @don4yu (Don Yu) & @mpetitchou (Sophie Chou)</p>
	</footer>
</div>
{% endblock %}