{% extends "base.html" %}

{% block body %}
<br/>
<br/>
<br/>
<div class="container">
  {% from "_form.html" import render_field %}
    <form method = "post" action = "/food">
      <label class="query" for="query_term">
      </label>
        {{ render_field(s_form.query_term, placeholder="Search for Term", class="input-just search-query", type="text") }}
        {{ render_field(s_form.query_tag, placeholder="Tags (separated by commas)", class="input-just search-query", type="text") }}
        {{ render_field(s_form.query_location, placeholder="Location", class="input-just search-query", type="text") }}
<!--         <input name="query_term" type="text" class="input-just search-query" placeholder="Search for Term">
        <input name="query_tag" type="text" class="input-just search-query" placeholder="Tags (separated by commas)">
        <input name="query_location" type="text" class="input-just search-query" placeholder="Location">
 -->        
        <div class="input-append date" id="dp3" data-date="12-Mar-13" data-date-format="dd-M-yy">
          <!-- <input class="span2" size="16" type="text" placeholder="dd-MMM-yy" name="query_date"> -->
          {{ render_field(s_form.query_date, placeholder="dd-MMM-yy", class="span2", size="16", type="text") }}
          <span class="add-on">
            <i class="icon-th"></i>
          </span>
        </div>
        <br/>
      <button type="submit" class="btn">Search</button>
    </form>

  {% if events %}
    {% for event in events %}
      <div class="row">
        <div class="span8">
          <div class="row">
            <div class="span8">
              <h4><strong>{{ event[0] }}</strong></h4>
            </div>
          </div>
          <div class="row">
            <div class="span2">
              <a href="#" class="thumbnail">
                  <img src="static/images/Cute_Cookie.jpg " alt="">
              </a>
            </div>
            <div class="span6">      
              <p>
                {{event[1]}}
              </p>
              {% if session['username'] %}
              <p><a class="btn" href="{{url_for('add_favorite', e_id = event[4])}}">Favorite</a></p>
              <p><a class="btn" href="{{url_for('add_epref', e_id = event[4])}}">Prefer Event +</a></p>
              <p><a class="btn" href="{{url_for('add_lpref', l_id = event[5])}}">Prefer Location +</a></p>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="span8">
              <p></p>
              <p>
                <i class="icon-calendar"></i> {{event[2]}}
                | <i class="icon-share"></i> 
                <a role="button" data-toggle="modal" href="#{{event[5]}}Modal">{{event[3]}}</a>
                <div id="{{event[5]}}Modal" class="modal hide fade" tabindex="-1">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">x</button>
                        <h3>{{event[3]}} Location Information</h3>
                    </div>
                    <div class="modal-body">
                      <h5>Address</h5>
                      <p>{{event[6]}}</p>
                      <h5>Directions</h5>
                      <p>{{event[7]}}</p>
                    </div>
                  </div>
                | <i class="icon-tags"></i> Tags : 
                {% if event[8] %}
                  {% for tag in event[8] %}
                    <span class="label label-info">{{tag[0]}}</span>
                  {% endfor %}
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  <hr>
	<footer>
	  <p>Developed with Love by @don4yu (Don Yu) & @mpetitchou (Sophie Chou)</p>
	</footer>
</div>
{% endblock %}