{% extends "base.html" %}

{% block title %}
CUNom - Free Food
{% endblock %}

{% block body %}
<br/>
<br/>
<br/>
<div class="container">
	<div class="hero-unit">
	  <h1>Never Miss Free Food Again</h1>
	  <img src="/static/images/nom.png" height="260" width="260" align="right">        
	  <hr color="#94D1CA">
	  <p>
	  	CUNom helps Columbia students survive the perils of college life. Too often students starve due to the cost of quality food around campus, when in fact free food events happen for nearly every meal of the day everyday. CUNom presents aggregated information from Bwog, Spectator, CCE, and more to allow students to find free food through an easy to use search interface. 
	  </p>
    <br/>
    <a class="btn btn-primary btn-large" href="/food"> I'm Hungry &raquo;</a>
    <br/>
    <br/>
	</div>

  <hr>
	<footer>
	  <p>Developed with Love by @don4yu (Don Yu) & @mpetitchou (Sophie Chou)</p>
	</footer>
</div>
{% endblock %}