{% extends "base.html" %}

{% block body %}
<br/>
<br/>
<br/>
<div class="container">
	<br/>
	<br/>
  <div class="row">
  	<div class="span4">
  		<div class="row">
		  	<div class="span2"><img src="static/images/user.jpg" alt=""></div>
		  	<div class="span2">
		  	  <p>User </p>
		  	  <p><strong>{{ session['username'] }}</strong></p>
		  	</div>
		  </div>
		  <br/>
		  <h5>Email Settings</h5>
	    	<form method = "post" action = "/change_email">
	    		<input class="prependedInput" size="16" type="email" name="email" value={{email[0]}}>
	    		<label for="subscribed_select">Subcribed to Weekly Emails: </label>
	    		<select id="subscribed_select" name="subscribed_select" style="width:150px">
	    		    <option {{'selected' if subscribed[0] == 1}}>Yes</option>
	    		    <option {{'selected' if subscribed[0] == 0}}>No</option>
	    		</select>
	    		<input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Update Email Settings">
      	</form>
		  <br/>
		  <h5>Security Questions </h5>
    	<table class="table">
	      <thead>
	        <tr>
	          <th>Question</th>
	          <th>Answer</th>
	          <th>Delete</th>
	        </tr>
	      </thead>
	     	<tbody>
     			{% if s_questions %}
     				{% for question in s_questions %}
	     				<tr>
	     					<td>{{question[1]}}</td>
	     					<td>{{question[2]}}</td>
	     					<td><a href="{{url_for('delete_question', question_id=question[0]) }}">X</a></td>
	     				</tr>
	     			{% endfor %}
     			{% endif %}
     		</tbody>
     	</table>
     	<h5>Add Question</h5>
     	<form method="post" action="/add_question" accept-charset="UTF-8">
     		Question: <input class="prependedInput" size="16" type="text" name="question">
     		Answer: <input class="prependedInput" size="16" type="text" name="answer">
     		<input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Add +">
     	</form>
    </div>
    <div class="span1"></div>
    <div class="span6">
    	<div class="row">
		  	<div class="span3">
		  		<div class="page-header">
		        <h4>Preferred Locations</h4>
		      </div>
		    	<table class="table">
			      <thead>
			        <tr>
			          <th>Location</th>
			          <th>Delete</th>
			          <th style="width: 36px;"></th>
			        </tr>
			      </thead>
			     	<tbody>
		     			{% if l_prefs %}
		     				{% for pref in l_prefs %}
			     				<tr>
			     					<td>{{pref[2]}}</td>
			     					<td><a href="{{url_for('delete_lpref', p_id = pref[0], l_id = pref[1]) }}">X</a></td>
			     				</tr>
			     			{% endfor %}
		     			{% endif %}
		     		</tbody>
		     	</table>
				</div>
		  	<div class="span3">
		  		<div class="page-header">
		        <h4>Preferred Events</h4>
		      </div>
		    	<table class="table">
			      <thead>
			        <tr>
			          <th>Event</th>
			          <th>Delete</th>
			          <th style="width: 36px;"></th>
			        </tr>
			      </thead>
			     	<tbody>
		     			{% if e_prefs %}
		     				{% for pref in e_prefs %}
			     				<tr>
			     					<td>{{pref[2]}}</td>
			     					<td><a href="{{url_for('delete_epref', p_id = pref[0], e_id = pref[1]) }}">X</a></td>
			     				</tr>
			     			{% endfor %}
		     			{% endif %}
		     		</tbody>
		     	</table>
				</div>
			</div>
			<div class="row">
				{% if p_on_off %}
					<p>Emails will currently be sent with preferences turned on. To get more generic daily free food emails, please click
						<a href="/update_p_on_off/0">here</a>.
					</p>
				{% else %}
					<p>Emails are currently sent without any preference information. To get more personalized daily free food emails, please click
						<a href="/update_p_on_off/1">here</a>.
					</p>
				{% endif %}
			</div>
		</div>
	</div>	    
  <hr>
	<footer>
	  <p>Developed with Love by @don4yu (Don Yu) & @mpetitchou (Sophie Chou)</p>
	</footer>
</div>
{% endblock %}